
.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

  .upload-button {
      float: left;
      width: 90%;
  }

  .progress-bar {
        width:10%;
        float:right;
     
  }