
<form nz-form [formGroup]="validateForm">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>First name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input a first name!">
      <input nz-input id="firstName" formControlName="firstName" [(ngModel)]="firstName"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>Last name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input a last name!">
      <input nz-input id="lastName" formControlName="lastName" [(ngModel)]="lastName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Address</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
       <input nz-input id="address"  [(ngModel)]="address" [ngModelOptions]="{standalone: true}" />
      </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="54" nzFor="reasonsForBeingOnTheList"><strong>Additional comments</strong> (i.e. why is this person on the list?)</nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="54">
      <textarea rows="4" nz-input [(ngModel)]="reasonsForBeingOnTheList" [ngModelOptions]="{standalone: true}"></textarea>
    </nz-form-control>
  </nz-form-item>


  <label><strong>Add pictures</strong></label>
  
  <div class="col-md-4">
    <div class="uploadfilecontainer" (click)="fileUpload.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file" #fileUpload (change)="uploadFile($event.target.files)">
    </div>
    <div class="files-list" *ngFor="let file of files;let i= index">
        <p> {{ file }} </p>
        <button class="delete-file" (click)="deleteAttachment(i)">
          <img src="../../assets/Recycle_Bin_Full.png">
        </button>
    </div>
  </div>
  <br/>
  <br/>
</form>
