
<div class="main-div" *ngIf="person != undefined">
  <nz-card nzHoverable class="nzcard" [nzCover]="coverTemplate">
    <nz-card-meta nzTitle="{{person.firstName}} {{person.lastName}}" nzDescription="Adress: {{person.address}}"></nz-card-meta>
    <p>{{person.reasonsForBeingOnTheList}}</p>
  </nz-card>
  <ng-template #coverTemplate>
    <nz-carousel [nzEffect]="effect">
        <div nz-carousel-content *ngFor="let image of images">
          <div *ngIf="image!=undefined">
            <img alt="relatedPics" src='../../assets/images/{{image}}' />
          </div>        
        </div>
      </nz-carousel>
  </ng-template>
</div>
